.error_view {
	display: block;
	background-color: black;
	color: white;
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	bottom: 10%;
	padding-top: 5%;
	text-align: center;
	font-size: $base-unit * 1.6;
	color: red;
	opacity: 0.9;
    z-index: 9999;

    .opps {
        font-size: $base-unit * 4;
        font-weight: bold;
    }

    p { margin-top: $base-unit * 1.5; }
}
.fa-exclamation-triangle {
	display: block;
	font-size: $base-unit * 8;
	margin-bottom: $base-unit * 0.5;
    margin: 0 auto;
}