footer {
    font-size: $base-font-unit;
    text-align: center;
    clear: both; 
	position: fixed; 
	bottom: 0; 
	color: #ccc; 
	padding: $base-unit * 0.4; 
	left: 0; 
	width: 100%; 

	a {
		margin-left: $base-unit * 0.3;
	}
}