* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:active, a:focus, a:hover { text-decoration: none; }

body { 
	font-family: $font-family-body; 
	color: $white; 
	margin: 0; 
	font-size: $font-size-body;
	z-index: 0;
	background-color: $background;
}

h1 { 
	color: $primary;
	font-family: 'Luckiest Guy',
	Arial, sans-serif;
	font-size: 4em;
	margin: 0; 
	font-weight: bold;
}

h2 { 
	color: #ccc; 
	font-weight: bold;
}

ul { 
	padding: 0; 
	margin: 0; 
}

li { list-style-type: none; }

a, .search_auto_complete li { 
	cursor: pointer; 
	color: $action; 

	&:hover { color: $primary; }
}

header,
section { margin-bottom: $base-unit * 4; }

form 	{ display: table; }

.hidden { visibility: hidden; }

#content_wrap { 
	padding: 0 2em; 
	z-index: 500; 
	min-height: 95vh;
}

small { color: #bbb; }

table { 
	width: 60%; 
	background-color: rgba(100, 100, 100, 0.2); 
}
td { 
	padding: $base-unit; 
	text-align: left; 
}

.btn {
	background-color: $action;
	border-color: $action;

	&:hover {
		background-color: $primary;
		border-color: $primary;
	}
}

.search_issue {
	font-size: $base-font-unit * 1.2;
	color: red;
}

.info_container { text-align: right; }

.close {
	text-align: right;
	margin-bottom: $base-unit * 2;
}

.links { font-weight: bold; }