#album_player_section { 
    height: 100vh;

    .close {
        text-align: right;
        margin-bottom: $base-unit * 2;
    }

    .btn {
        background: none;
        border: none;
        color: $action;
        padding: 0;
        font-size: $base-font-unit * 2;
        font-weight: bold;

        &:hover { color: $primary; }
    }
}

#artist_info { 
	background-color: black; 
	color: white; 
	position: fixed; 
	right: 0; 
	bottom: $base-unit * 4; 
	top: 0; 
	padding: $base-unit * 2.2 $base-unit * 3 $base-unit $base-unit * 2; 
	z-index: 9999; 
	transition: 1s;
    position: absolute; 
    width: 35%;
    height: 100vh;
    font-size: $base-unit;
    overflow-y: auto;

	h3 { 
		font-size: $base-font-unit * 3; 
		font-weight: bold; 
        margin-bottom: $base-unit * 2;
	}

	li      { margin: $base-unit 0; }

	img { 
		margin: $base-unit * 3 0 $base-unit * 2 0; 
		border-radius: 100%; 
	}

    p       { margin-bottom: $base-unit; }

    a:hover { color: $primary; }
}