#search_form { 
	margin-bottom: $base-unit * 3; 
	width: $base-unit * 27.5;
}
.input-group { 
	button {
		width: $base-unit * 6;
		border-radius: 0 $base-unit * 0.5 $base-unit * 0.5 0; 
		span {
			font-size: $base-font-unit * 2;
		}
	}
}
