.tracks { 
	border-bottom: $base-unit * 0.1 solid #666; 
	font-size: $base-font-unit * 1.1;
	padding: $base-unit * 0.4 0 $base-unit * 0.4 $base-unit * 0.9;
	display: flex;
    flex-direction: row;
    align-items: center;
}
#song_list { 
	margin-bottom: $base-unit * 6;
	transition: 1s;

	ul { border-top: $base-unit * 0.1 solid #666; }
}

.fa-circle-play { 
	font-size: 2em; 
	color: #26C6DA; 
	cursor: pointer; 
	z-index: 1000;

	&:hover { color: $primary }
}