.tracks { 
	border-bottom: 2px solid #666; 
	font-size: $base-font-unit * 1.1;
	padding: $base-unit * 0.4 0 $base-unit * 0.4 $base-unit * 0.9;
	display: flex;
    flex-direction: row;
    align-items: center;
}
#song_list { 
	margin-bottom: 60px;
	transition: 1s;

	ul { border-top: 2px solid #666; }
}

.fa-play-circle { 
	font-size: 2em; 
	color: #26C6DA; 
	cursor: pointer; 
	z-index: 1000;

	&:hover { color: $primary }
}
.fa-info-circle { 
	position: absolute; 
	font-size: 3em; 
	cursor: pointer; 
	top: 0.7em; 
	right: 0.7em; 
	z-index: 6000; 
	transition: 1s;
}
#play_buttons { 
	text-align: right; 
	background: none;
    border: none;
}
#song_name_display { 
	background-color: black; 
	padding: 5px; 
	margin: 10px 0; 
	font-size: 20px; 
}
#song_name_display p { 
	padding: 0; 
	margin: 0; 
	font-family: 'Roboto', sans-serif; 
}
#controls_wrap { 
	background: linear-gradient(#9e9e9e, #fafafa, #9e9e9e); 
	padding: 10px; 
	border-radius: 0 0 10px 10px; 
}
.control_button { 
	padding: 0 30px; 
	color: black; 
	font-size: $base-unit * 3; 
	cursor: pointer; 
}
.control_button:hover { color: $action; }

#mobile_back { 
	visibility: hidden;; 
	cursor: pointer; 
	background-color: $action;
}