@import "~bootstrap/scss/bootstrap";

@import "./partials/bsoverrides";
@import "./partials/variables";
@import "./partials/multipleresults";
@import "./partials/audioplayer";
@import "./partials/footer";
@import "./partials/global";
@import "./partials/header";
@import "./partials/profile";
@import "./partials/searchbar";
@import "./partials/songlist";
@import "./partials/infobutton";
@import "./partials/errorview";




